:root {
    --space-0: 0;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --space-7: 8rem;
    --space-8: 10rem;
    --space-9: 12rem;
    --space-10: 14rem;
    --space-11: 16rem;
    --space-12: 20rem;
    --space-13: 40rem;
  }
  