.feedback-container {
    background-color: white;
    padding: 76px 119px 162px 93px;

    .main-heading {
        color: #000;
        font-family: Work Sans;
        font-size: var(--font-size-xs);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.4px;
    }

    .secondary-heading {
        color: #ff8276;
        font-family: Work Sans;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.4px;
    }
    .carouselItem {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    // /* Center align the bullets */
    // .carousel.carousel-slider .control-dots {
    //     background-color: #000;
    //     text-align: center;
    // }

    // .control-dots {
    //     margin-top: 50px !important;
    // }

    .star {
        position: absolute;
        width: 58px;
        height: 58px;
        right: 10px;
        z-index: 100;
    }
}
