.footer{
    width: 100%;
    height: 183px;
    background: #424061;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;

    .company-container{
        flex-direction: column;
    }

    .logo-container{
        padding-top: 21px;
        .Q-logo{
            margin-left: 12px;
    }
    }
    
    .text{
        margin-top: 17px;
    color: #AAA;
    font-family: Work Sans;
    font-size: 15px;
    width: 264px;
    height: 37px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    }

    .copyright{
        margin-top: 13px;
        display: flex;
        flex-direction: row;
        color: #AAA;
        font-family: Work Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        img{
            margin-top: 3px;
            margin-left: 6px;
            margin-right: 8px;
        }
    }

    .Buttons{
        margin-left: 470px;
        margin-top: 35px;
        color: #FFF;
        font-family: Work Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.3px;
        display: flex;
        flex-direction: row;

        .heading{
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 0.5px;
        }
        .legal{
            margin-left: 112px;
        }
    }

    .payments{
        margin-left: 83px;
        margin-top: 35px;
        .heading{
            color: #FFF;
            font-family: Work Sans;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.5px;
        }
        .card-logo{
            margin-right: 13px;
            width: 47px;
            height: 47px;
        }
    }
}
