.organization-logo {
    width: 125px;
    margin-left: 63px;
    margin-block: 15px;
    height: 43.91px;
}

.vl {
    width: 2px;
    height: 39px;
    margin-inline: var(--space-2);
    background: var(--secondary-100);
}

.v2 {
    width: 1px;
    height: 28px;
    margin-block: 15px;
    background: var(--secondary-100);
}
